/* Google Fonts */

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wpr-y7CP8YvcHYdGV61pt7QTE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v4/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* General */

body {
	background: #d3bf9a url('../img/bg.jpg') repeat;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3 {
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.back {
	margin-left: 10px;
	color: #68A;
	font-size: 70%;
}

h1, h2, h3 {
	margin: 0 0 20px 0;
}

#contents {
	background-color: white;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.padded {
	padding-top: 20px;
	padding-bottom: 10px;
}

.note {
	font-size: 80%;
	font-style: italic;
	opacity: 0.85;
}

/* Bootstrap overrides */

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
    color: #531;
}

.btn-primary {
    background-color: #ffae32;
    border-color: #ff9430;
    color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #ff6334 !important;
    border-color: #ff6334 !important;
    color: white;
}

span.twitter-typeahead .tt-menu {
	width: 100%;
}

/* Same height columns http://stackoverflow.com/a/19695851 */
.row {
  overflow: hidden; 
}
[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/* Header */

#header {
	position: relative;
	background: #151e27 url('../img/header_bg.jpg') repeat-x;
	background-position: top center;
	padding: 20px;
}

#header:before, #header:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
}

#header:before {
	background: url('../img/header_left.png') no-repeat;
	background-position: top left;
	left: 0;
	width: 89px;
}

#header:after {
	background: url('../img/header_right.png') no-repeat;
	background-position: top right;
	right: 0;
	width: 89px;
}

#header-logo {
	display: block;
	margin: 30px auto 20px auto;
	width: 80%;
	max-width: 544px;
}

#header-logo:hover {
	filter: sepia(50%);
	-webkit-filter: sepia(50%);
}

#menu {
	width: 100%;
    text-align: center;
    background-color: #45545e;
    padding: 8px;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
    color: #CCD;
    font-size: 1.8rem;
}

#menu a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

/* Search block */

.user-entry-link {
	display: none;
	margin-top: 10px;
	margin-bottom: 0;
}

.username-description {
	clear: both;
	color: #555;
	margin-bottom: 0;
	padding-top: 5px;
	font-size: 1.2rem;
}

.username-loader {
	background: url('../img/ajax-loader.gif') no-repeat;
	height: 24px;
	margin: 3px 20px;
}

.username-not-found {
  margin: 3px 20px;
}

#search {
	padding-top: 20px;
	margin-bottom: 30px;
}

#search .input-group {
	margin-bottom: 15px;
}

.search-platforms-container button, .search-platforms-container li, #search-query {
	font-size: 1.6rem;
}

.search-syntax-tips {
	clear: both;
	font-size: 1.2rem;
	padding-top: 5px;
	-webkit-padding-start: 15px;
}

.search-separator {
	margin-bottom: 15px;
	border-bottom: 1px solid #baa989;
}

/* Results */

#results-container {
	position: relative;
	border-top: 1px solid #e2cfae;
	margin-top: 20px;
	padding-top: 20px;
}

#results-count {
	font-style: italic;
	font-size: 2.5rem;
}

#loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	opacity: 0.8;
	text-align: center;
	padding: 100px;
}


/* Medium devices */
@media (min-width: 992px) {
	#results-container {
		border-top: none;
		border-left: 10px solid #baa989;
		margin-top: 0px;
	}
}

/* Entry block */

.entry-outer {
	/* These must match the JS! Otherwise scrolling will have weird effects. */
	width: 249px;
	height: 339px;
	position: absolute;
}

.entry {
	background-color: #CCC;
	display: inline-block;
	margin: auto;
	width: 220px;
	height: 280px;
	text-align: center;
	padding-bottom: 0;
	padding: 20px;
	position: relative;
	transition: 0.5s;
}
.entry:hover {
	opacity: 0.7;
	text-decoration: none;
	transition: 0.2s;
}

.entry-picture-slot {
	border-radius: 8px 8px 0 0;
	width: 180px;
	height: 140px;
	overflow: hidden;
}

.entry-picture-align {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 140px;
}

.entry-picture {
	display: inline-block;
	max-width: 180px;
	max-height: 140px;
	line-height: 140px;
	vertical-align: middle;
}

.entry-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.entry-caption {
	text-align: center;
	height: 79px;
	overflow: hidden;
	padding-top: 17px;
}

.entry-title {
	font-weight: bold;
	padding: 5px;
	font-size: 1.5rem;
	line-height: 1.3rem;
}

.entry-author {
	font-size: 1.2rem;
}

.entry-notes {
	font-size: 1rem;
}

.entry-coolness {
	display: inline-block;
	font-size: 1.2rem;
	color: #888;
	vertical-align: top;
	margin-top: 5px;
}

.entry-button {
	margin: 5px;
	margin-bottom: 20px;
}

/* Details page */

#details-entry .entry {
	margin-left: 20px;
	margin-bottom: 20px;
}

#details-comments {
	border-top: 10px solid #baa989;
}

.comment {
	padding: 8px;
	border-top: 1px solid #ddd;
	word-wrap: break-word;
}

/* Medium devices */
@media (min-width: 992px) {
	#details-entry {
		text-align: right;
	}
}
