body {
	padding: 20px;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2 {
	color: #333;
}

/* Search block */

.search {
	margin-bottom: 30px;
}

/* Entry block */

.entry {
	background-color: #CCC;
	display: inline-block;
	margin: auto;
	margin-bottom: 20px;
	width: 220px;
	height: 280px;
	text-align: center;
	border-radius: 8px 8px 0 0;
	padding-bottom: 0;
	padding: 20px;
	position: relative;
}
.entry:hover {
	background-color: #CCC !important;
	color: #333 !important;
	text-decoration: none;
	transition: 0.3s;
}

.entry-picture {
	width: 100%;
	max-width: 180px;
	border-radius: 8px 8px 0 0;
}

.entry-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.entry-caption {
	height: 100px;
	overflow: hidden;
	padding-top: 10px;
}

.entry-title {
	font-weight: bold;
	padding: 5px;
	padding-bottom: 0px;
	font-size: 1.5rem;
}

.entry-author {
	padding: 5px;
	padding-top: 0px;
	font-size: 1.2rem;
}

.entry-notes {
	font-size: 1rem;
}