<div id="contents" class="container">
	<div class="row padded">
		<div class="col-xs-12 text-page">
			<h2>About this site <a href="?event={{search_event}}" class="back">Back</a></h2>

			<p>Feedback Friends is an unofficial mini-site made by the Ludum Dare community. It was initially created to replace ratings for Ludum Dare 36 (see <a href="http://ludumdare.com/compo/2016/07/28/introducing-the-feedback-friends-mini-site/">this announcement post</a> for the full context). Since the site can also serve as a game browser in general, it has been maintained ever since.</p>
			<br />

			<h3>Contact</h3>
      <img src="static/img/contact.png" style="float: left; margin-right: 30px; height: 60px;" />
			<p>
				<ul>
					<li><a href="https://github.com/mkalam-alami/ludumdare-feedback-friends/issues">Github issues</a></li>
					<li><a href="https://twitter.com/mkalamalami">@mkalamalami</a> on Twitter</li>
					<li><i>wan</i> on IRC (#ludumdare on AfterNet)</li>
				</ul>
			</p>

			<h3>Join us on Github!</h3>
			<p>If you want to contribute, the repo is at <a href="https://github.com/mkalam-alami/ludumdare-feedback-friends">mkalam-alami/ludumdare-feedback-friends</a>.</p>
			<br />

			<h3>Credits</h3>
			<p>
				<ul>
					<li><u>Main developers</u>: Marwane Kalam-Alami (<a href="https://twitter.com/mkalamalami">@mkalamalami</a>), Thomas ten Cate (<a href="https://github.com/ttencate">Github</a>)</li>
					<li><u>Logo</u>: Liam Baloh (<a href="https://twitter.com/mkalamalami">@LiamLimeGames</a>)</li>
					<li><u>Full contributors list</u>: <a href="https://github.com/mkalam-alami/ludumdare-feedback-friends/graphs/contributors">see on Github</a></li>
				</ul>
			</p>
		</div>
	</div>
</div>