<div class="container">
	{{#entry}}

	<div class="row">
		<div class="col-md-4 text-center">
			{{> cartridge}}
			<br /><br />
			<p class="bg-warning">
				<b>N.B.</b> Comments take a while to appear (up to ~30mn), so don't worry if some comments are missing and the score is off.<br />
				<a href="?uid={{uid}}&amp;refresh" class="btn btn-default ">Force refresh* <span style="font-size: 1.1rem"><br />(last updated {{last_updated}})</span></a><br />
				<span style="font-size: 1.1rem">*This button will refresh everything except your "Given comments".</span>
			</p>
		</div>
		<div class="col-md-8">
			<div class="container">
				<div class="row">
					<div class="col-xs-8">
						<h2><a href="{{ld_root}}uid={{uid}}">{{title}}</a> <i>(Balance: {{coolness}})</i></h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-8">
						<h3><b>{{author}}</b>'s feedback friends ({{friends_count}})</h3>

						{{#friends_rows}}
						<div class="btn-group">
							{{#friends}}
								<a href="?uid={{uid_author}}" class="btn btn-primary">{{author}}</a>&nbsp;
							{{/friends}}
						</div>
						{{/friends_rows}}

						<br />
						<br />
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h3>Comments given<br />({{comments_given}}p, average {{given_average}}p/c)</h3>
						<table class="table">
						{{#given}}
							<tr><td>
								<h4>to <a href="?uid={{uid_entry}}">{{author}}</a> <i>({{score}}p)</i></h4>
								{{{comment}}}
							</td></tr>
						{{/given}}
						</table>
					</div>
					<div class="col-md-4">
						<h3>Comments received<br />({{comments_received}}p)</h3>
						<table class="table">
						{{#received}}
							<tr><td>
								<h4><a href="?uid={{uid_author}}">{{author}}</a> <i>({{score}}p)</i></h4>
								{{{comment}}}
							</td></tr>
						{{/received}}
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

	{{/entry}}
</div>

