<div id="contents" class="container">
	<div class="row padded">
		<div class="col-xs-12">
			<h2>FAQ <a href="?event={{search_event}}" class="back">Back</a></h2>

			<h3>What is this?</h3>
			<p>This mini-site has been made by the <a href="http://www.ludumdare.com">Ludum Dare</a> community to replace ratings for Ludum Dare 36. Instead, the focus is put on testing and commenting each other's games.</p>
			<br />

			<h3>How does it work?</h3>
			<p>All Ludum Dare entries for the current event are monitored to gather some stats about the games, how much comments they have and who wrote them. For each comment you make, you get points that will help you get featured higher on the site (much like the good old "coolness" system). The more feedback you give, the more you'll get!</p>
			<p>N.B. You become <b>Feedback Friends</b> with someone when that person commented on your entry, and you commented back on theirs :)</p>
			<br />
			
			<h3>I made a LOT of comments, but don't get feedback anymore!</h3>
			<p>Once you've given 100p worth of comments, congratulations, you've won :) Comments above that score don't account in the balance, to favor the games with fewer comments.</p>
			<br />

			<h3>Why are ratings disabled?</h3>
			<p>Moderator Tijn has explained why in <a href="http://ludumdare.com/compo/2016/07/02/theme-suggestions-are-now-open/#more-566247">this blog post</a>:</p>

			<div style="padding-left: 20px; border-left: 5px solid #888; color: #666;">
				<p>
				That’s because this LD isn’t being organised by PoV, who has been organising them since forever and wants to take a break so he can finish the new shiny Ludum Dare website for us. He has explained the situation in a blog post if you are interested in more details.</p>

				<p>In response to this, sorceress organised a vote to see what the community feels we should do while PoV takes his well deserved break. You can find more info about that here:
	<a href="http://ludumdare.com/compo/2016/06/09/august-ld-you-decide/">http://ludumdare.com/compo/2016/06/09/august-ld-you-decide/</a></p>

				<p>The results showed an overwhelming majority wants to organise LD regardless, so that’s what we’re doing. We will however skip the voting/rating of entries at the end of the event this time, because PoV has raised some concerns over them. The results of the vote reflect that the community understand these concerns and is willing to forego the game rating phase after the event.</p>
			</div>

			<h3>Is it Open Source?</h3>
			<p>Yup, feel free to take a join us at the <a href="https://github.com/mkalam-alami/ludumdare-feedback-friends">Github repo</a>!</p>
			<br />

		</div>
	</div>
</div>
	