<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Ludum Dare Feedback Friends - {{event_title}}</title>
	<link href="{{root}}static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="{{root}}static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
	<link href="{{root}}static/css/typeaheadjs.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="{{root}}static/css/site.css?{{js_css_version}}" rel="stylesheet" />
</head>
<body>
	<script>
		var config = {
			{{#config}}
			'{{{key}}}': '{{{value}}}',
			{{/config}}
		};
	</script>
	<div id="header">
		<a href="{{root}}">
			<img id="header-logo" src="{{root}}static/img/logo.png?{{js_css_version}}" />
		</a>
	</div>
	<div id="menu">
       <a href="?p=help">Help</a> | <a href="?p=about">About this site</a> | <a href="{{ld_root}}">Back to ldjam.com</a><!-- | <a href="http://williame.github.io/LD/Map/?event=ludum-dare-36">Will's World Map</a>-->
    </div>