<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Ludum Dare Feedback Friends - {{event_title}}</title>
	<link href="{{root}}static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="{{root}}static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
	<link href="{{root}}static/css/typeaheadjs.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="{{root}}static/css/site.css?{{js_css_version}}" rel="stylesheet" />
  <link href="{{root}}static/img/favicon.png" rel="shortcut icon" type="image/png" />
</head>
<body>
	<script>
		var config = {
			{{#config}}
			'{{{key}}}': '{{{value}}}',
			{{/config}}
		};
	</script>
	<div id="header">
    <a href="https://alakajam.com/article/secret-room-unlocked">
      <img src="https://i.imgur.com/cpkZjfr.png" class="alakajam-secret" />
    </a>
		<div id="header-logo">
      
      <!-- Lava lamp begins -->
      <!-- source: https://codepen.io/alexzaworski/pen/qDokc -->
      <div class="lavalamp before">
        <div class="top">
          <div class="wrapper">
            <div class="cap"></div>
          </div>
        </div>
        <div class="mid">
          <div class="wrapper">
          <div class="glass">
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="goop top-goop"></div>
            <div class="goop bot-goop"></div>
          </div>
          </div>
        </div>
        <div class="upperBase">
          <div class="wrapper">
            <div class="base"></div>
          </div>
        </div>
        <div class="lowerBase">
          <div class="wrapper">
            <div class="base"></div>
          </div>
        </div>
      </div>
      <!-- Lava lamp ends (too soon) -->
      
      <a href="href="{{root}}">
        <img src="{{root}}static/img/logo.png?{{js_css_version}}"/>
      </a>
      
      <!-- Lava lamp begins -->
      <!-- source: https://codepen.io/alexzaworski/pen/qDokc -->
      <div class="lavalamp">
        <div class="top">
          <div class="wrapper">
            <div class="cap"></div>
          </div>
        </div>
        <div class="mid">
          <div class="wrapper">
          <div class="glass">
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="blob"></div>
            <div class="goop top-goop"></div>
            <div class="goop bot-goop"></div>
          </div>
          </div>
        </div>
        <div class="upperBase">
          <div class="wrapper">
            <div class="base"></div>
          </div>
        </div>
        <div class="lowerBase">
          <div class="wrapper">
            <div class="base"></div>
          </div>
        </div>
      </div>
      <link href="{{root}}static/css/lavalamp.css" rel="stylesheet" type="text/css" />
      <!-- Lava lamp ends (too soon) -->
		</div>
    <div id="header-subtitle">A <a href="?p=about">community-made</a> game browser</div>
	</div>
	<div id="menu">
     <a href="?p=help">Help</a> | <a href="?p=about">About this site</a> | <a href="{{ld_root}}">Back to ldjam.com</a><!-- | <a href="http://williame.github.io/LD/Map/?event=ludum-dare-36">Will's World Map</a>-->
  </div>