<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Ludum Dare Feedback Friends</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/site.css" />
</head>
<body>
	<div id="header">
		<!-- TODO Resize & improve images -->
		<img src="static/img/logo-ld.png" style="width: 600px" />
		<img src="static/img/logo-ff.png" style="width: 400px" />
	</div>